@charset "utf-8";
.background-image{
	background-image: url(web_images/shred_background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center 10vh;
	}
#footer_contact {
	color: #FFFFFF;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	text-decoration: underline;
}
#footer_contact:hover {
	color: #FFFFFF;
	text-decoration: underline;
	text-shadow: 1px 1px #FFFFFF;
}
#main_wrap {
	margin-bottom: -40px;
	width: auto;
	padding: 0px;
	min-height: 100vh;
	margin-top: 0px;
}
.small_wrap_active {
	display: none;
}
.small_show {
	display: none;
}
.small_hide {
	display: none;
}

#header_wrap {
	width: 100%;
	display: flex;
	position: fixed;
	background-color: #D8D8D8;
	top: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	justify-content: space-between;
	align-content: center;
	height: 15vh;
	z-index: 100;
}
#small_button_wrap {
	display: none;
}

.small_header_button {
	border: none;
	color: #000000;
	background-color: hsla(0,0%,0%,0.00);
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}


.header_left_wrap {
	display: flex;
	height: 100%;
	width: auto;
}
.header_logo_wrap {
	height: 100%;
	align-items: center;
	position: relative;
	align-self: center;
	flex-direction: column;
}
.header_logo_img {
	padding: 5%;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
	align-self: center;

}
.header_social_wrap {
	display: flex;
	justify-content: space-around;
	width: auto;
	padding: 3%;
	align-items: center;
	flex-direction: column;
	height: 100%;
}
.social_color {
	color: #000000;
}
.social_color:hover {
	color: #696969;
}
.header_button_wrap {
	display: flex;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	align-items: center;
	align-self: center;
}
.header_button_style {
	padding: 5px;
	margin: 0px;
	height: auto;
	border-right-width: thin;
	border-right-style: solid;
}
.header_button_style:last-child {
	border: none;

}
.header_button_active {
	color: #696969;
}
.header_button_txt {
	font-size: 2.5vw;
}
.header_contact_wrap {
	display: flex;
	height: auto;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
	align-content: center;
	padding-top: 2%;
}
.header_contact_link {
	align-self: center;
}
.header_contact_h {
	align-self: center;

}
#main_content {
	background-color: rgba(255,255,255,0.80);
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	top: 0;
	margin-top: 20vh;
	width: auto;
}








#push {
	height: 40px;
	margin-top: 0px;
	width: 50%;
}
#foot {
	height: 40px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
}
.goals_li_indent {
	margin-left: 20px;
	list-style-type: circle;
}
#sponsors_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.sponsor_button {
	height: 200px;
	border: none;
	width: 200px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	-webkit-transition: .5s;
}

.sponsor_button:hover {
	height: 180px;
	border: none;
	width: 180px;
	-webkit-box-shadow: 0px 0px;
	margin: 30px;
	box-shadow: 0px 0px;
}

#giro {
	background-image: url(../web_images/shred/Sponsors/giro.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}



#gcw {
	background-image: url(../web_images/shred/Sponsors/gcw.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#nomad {
	background-image: url(../web_images/shred/Sponsors/nomad.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}
.sponsor_pop {
	position: fixed;
	width: 90vw;
	height: 70vh;
	background: #989898;
	top: 0;
	left: 0;
	margin-top: 25vh;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-bottom: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	padding: 10px;
	opacity: 0;
	z-index: -100;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}
.sponsor_pop_active {
	position: fixed;
	width: 90vw;
	height: 70vh;
	top: 0;
	left: 0;
	margin-top: 25vh;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-bottom: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	padding: 0;
	opacity: 1;
	z-index: 150;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	background-color: #989898;
}
.sponsor_pop_top {
	padding: 2%;
	width: 100%;
	height: 30vh;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: no-wrap;
	align-content: stretch;
}
.sponsor_pop_img {
	max-height: 20vh;
	width: auto;
	max-width: 25vh;
}

.sponsor_pop_x {
	border: none;
	background-color: hsla(0,0%,0%,0.00);

}
.sponsor_pop_link {
	font-style: italic;
	margin-bottom: 5vh;


}
#accomplishment_wrap {
	width: 100%;
	display: flex;
}
.black_ink {
	font-style: italic;
	color: #333333;
}
.black_ink_ {
	color: #333333;
	font-weight: bold;
}
.media_divs {
	margin: 20px;
	width: 320px;
	height: auto;
	min-height: 200px;

}
#media_wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.shred1{
	background-image: url(../web_images/shred/slash.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.shred2{
	background-image: url(../web_images/shred/grizzly_tweeker.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.shred3{
	background-image: url(../web_images/shred/method.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.shred4{
	background-image: url(../web_images/shred/lil_chute.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.contact_table {
	padding-top: 1%;
	padding-right: 2%;
	padding-left: 15%;
	padding-bottom: 1%;
	font-size: 1.75vw;


}
.black_link {
	color: #000000;
}
#main_wrap #main_content table {
}
.contact_txt {
	padding-top: 20px;
	font-size: 2vw;
}









@media (max-width:400px){
.black_link {
	color: #000000;
}
.shred_title {
	font-size: 5vw;
}
.shred_bullets {
	font-size: 4vw;
}
}
@media (max-width:600px){
.small_header_wrap {
	display: flex;
	height: 11vh;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #D8D8D8;
	align-items: flex-start;
	position: fixed;
	width: 100%;
	justify-content: center;
}
.header_left_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header_social_wrap   {
	flex-direction: row;
}
.social_color {
	padding-left: 10px;
	padding-right: 10px;
}


#header_wrap {
	display: none;
}
.header_logo_img   {
	height: 30vh;
	width: 30vh;
}
.small_wrap_active {
	background-color: #D8D8D8;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.small_show {
	display: flex;
	flex-direction: column;
}
#small_button_wrap {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-direction: column;
	align-items: center;
}
.header_button_wrap {
	display: flex;
	border-left: none;
	border-right-style: none;
	border-bottom: none;
	border-top: none;
	flex-direction: column;
}
.header_button_txt {
	margin: 8px;
	padding: 0;
	font-size: 3vw;
}
.contact_txt {
	font-size: 15px;
}


.header_button_style {
	padding: 0;
	margin: 0;
	border-right-style: none;
}
.contact_table {
	font-size: 2.75vw;
	padding-left: 5%;
}



}
.shred_content {
	margin-top: 20px;
}
