@font-face {
	font-family: 'bariol regular italic';
	src: url('bariol_regular_italic-webfont.eot');
	src: url('bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('bariol_regular_italic-webfont.woff') format('woff'),
		url('bariol_regular_italic-webfont.ttf') format('truetype'),
		url('bariol_regular_italic-webfont.svg') format('svg');
}